<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>UMatch</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">UMatch</a>
    </div>
  </nav>

  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h5 class="header center black-text">Project by</h5>
      <h1 class="header center orange-text">Raxit Solanki</h1>
      <div class="row center">
        <h5 class="header col s12 light">Insight Data Engineering Fellow</h5>
        <h5 class="header col s12 light">San Francisco</h5>
      </div>
      <form action="/home">
      <div class="row center">
        <input type="submit" class="btn-large waves-effect waves-light orange" value="show pipeline"/> 
      </div>
      </form>
      <br><br>

    </div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Search space optimization</h5>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Greedy Bipartite Matching</h5>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Streaming Solution</h5>
          </div>
        </div>
      </div>

    </div>
    <br><br>
  </div>


  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">About Project</h5>
          <p class="grey-text text-lighten-4">Building the Greedy Bipartite Matching in real time. The use case here is to match the ride requests to the drivers in a streaming window.</p>

        </div>
        <div class="col l3 s12">
          <h5 class="white-text"> <a class="white-text" href="https://github.com/raxit65535/UMatch.git">Github </a></h5>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text"><a class="white-text" href="https://docs.google.com/presentation/d/1nU3rWpFfQganNrtOrHuxNptB9rt6fwZElzJAdsZ7r_4/edit#slide=id.g5cc9c7ba4e_0_225"> Presentation </a></h5>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
 
  </body>
</html>